:root {
    --back-color: #CDEAC0;
    --btn-color: #f88e86;
    --btn-color-hover:  #FF7A70;
    --primary-letters: #2b2b2b;
    --form-letters:  #8a8a8a;
    --links-form-color: #4f8635;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color:var(--back-color);
}

#main-contenedor {
    background-color: #ffffff;
    margin: auto;
    max-width: 35vw;
    min-width: 450px;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
    height: min-content;
}

#title {
    text-align: center;
    color: var(--primary-letters);
}

#title h1 {
    padding-bottom: 15px;
    font-size: 30px;
}

#title p {
    padding-bottom: 15px;
}

label, input {
    display: block;
}

label {
    margin-bottom: 5px;
    margin-top: 20px;
    color: var(--form-letters);
}

.form-group input:last-child {
    margin-bottom: 25px;
}

input {
    border: 1px solid var(--input-color);
    height: 32px;
    width: 100%;
    border-radius: 3px;
    padding-left: 6px;
    font: 500 14px 'Roboto';
    color: #2b2b2b;
}

input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #d8d7d7;
    border-radius: 0px;
}

.btn {
    color: #ffffff;
    background-color: var(--btn-color);
    text-decoration: none;
    display: block;
    padding: 12px 0px 12px 0px;
    text-align: center;
    width: 40%;
    border-radius: 3px;
    margin-bottom: 25px;
}

.btn:hover {
    background-color: var(--btn-color-hover);
}

#box-2 {
    display: block;
    width: 400px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color:  var(--primary-letters);
}

#box-2 a {
    color:  var(--btn-color);
    text-decoration: none;
    font-weight: bold;
}

#box-2 a:hover {
    text-decoration: underline;
}

#box-1 {
    display: block;
    text-align: center;
    color:  var(--primary-letters);
}

#box-1 a {
    text-decoration: none;
    color: var(--links-form-color);
}

#box-1 a:hover {
    text-decoration: underline;
}

@media (max-width:540px ) {

    #main-contenedor {
        background-color: #ffffff;
        margin: auto;
        min-width: 90vw;
        max-width: 350px;
        padding: 25px;
        margin-top: 15px;
        border-radius: 5px;
        height: min-content;
}

#title h1 {
    padding-bottom: 15px;
    font-size: 24px;
}

#box-2 {
    display: block;
    min-width: 90vw;
    max-width: 350px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color:  #2b2b2b;
    font-size: 14px;
}